<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNA Sequencing</title>
</head>
<body>

<div class="background-image"></div>


<h1 style="text-align: center">DNA Sequencer</h1>

<form style="text-align: center" action="/matches" method="post">
    <label for="DNASequence">Enter DNA Sequence:</label><br>
    <input id="DNASequence" name="DNASequence" type="text"><br><br>
    <label for="DNAToMatch">Enter smaller DNA Sequence:</label><br>
    <input id="DNAToMatch" name="DNAToMatch" type="text"><br><br>
    <input type="submit">
</form>

</body>

<style>
    .background-image {
        background-image:url('./Users/brianhoward/IdeaProjects/dna_sequencing_spring/src/main/resources/templates/DNASequencing.jpeg');
        background-size:contain;
        width: 200px;
        height: 200vh;
    }
</style>

</html>